<div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover "
           style="overflow: scroll; font-size: 17px; margin-top: 20px;">
        <tbody>
            <tr>
                <td rowspan="3">Cчет</td>
                <td>Номер</td>
                <td>Имя</td>
                <td>Баланс</td>
            </tr>
            <tr>
                <td>{{client.account_number}}</td>
                <td>{{client.name}}</td>
                <td>{{client.balance}}</td>
            </tr>
        </tbody>
    </table>
    <form method="post" id="getCreditMoney" class="form-horizontal">
          <div class="form-group">
              <label class="col-sm-3">Сумма: *</label>
              <div class="col-sm-9">
                  <input class="form-control" type="text" placeholder="Сумма" name="get_sum" minlength="9" maxlength="13" pattern="[1-9][0-9]*" required/>
              </div>
          </div>
          <div id="success">
          </div>
          <div id="error">
          </div>
          <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3">
                  <button type="submit" id="add" style="margin: 5px auto 0 auto" class="btn btn-info btn-lg">Снять деньги</button>
              </div>
          </div>
      </form>
</div>
