<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="javascript:;" class="navbar-brand">Sturtup Summer - Html/Css</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="active">
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="issue.html">Find Issue</a>
        </li>
        <li>
          <a href="animations.html">Animations</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <section>
    <div class="row">
      <div class="col-md-12 how-works clerfix">
        <p>How it works?</p>
        <div class="col-md-5 pull-left col-md-offset-1">
          <div class="circle-wraper clearfix">
            <div class=" col-md-8 flx flx-middle flx-between circle-wraper-box">
              <div class="circle pull-left">1</div>
              <div class="step pull-right">Automate</div>
            </div>
            <div class="line fade"></div>
            <div class="col-md-8 flx flx-middle flx-between circle-wraper-box">
              <div class="circle pull-left">2</div>
              <div class="step pull-right">Generate</div>
            </div>
            <div class="line"></div>
            <div class="col-md-8 flx flx-middle flx-between circle-wraper-box">
              <div class="circle pull-left">3</div>
              <div class="step pull-right">Sent</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 pull-right">
          <div class="text-step">Start Workflows from Any App Pick a Trigger that sets your Zap into motion.</div>
          <div class="text-step">Start Workflows from Any App Pick a Trigger that sets your Zap into motion.</div>
          <div class="text-step">Start Workflows from Any App Pick a Trigger that sets your Zap into motion.</div>


        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <h4 class="box-title">Title</h4>
          <div class="box-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae eos, alias. Dolores officiis, quasi, quam laudantium, tenetur neque delectus, ea nostrum illo voluptatum blanditiis consectetur.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h4 class="box-title clearfix">
            <span class="pull-left">Title</span>
            <small class="pull-right">
              <i class="fa fa-calendar"></i>
              &nbsp;01.07.2016
            </small>
          </h4>
          <div class="box-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque suscipit quo mollitia cupiditate, maiores, placeat eius blanditiis a perferendis nulla vel nisi eos minus, labore.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <h4 class="box-title flx flx-middle flx-between">
            Title
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
              <ul class="dropdown-menu pull-right fadeInUp">
                <li><a href="#">item1</a></li>
                <li><a href="#">item2</a></li>
                <li><a href="#">item3</a></li>
              </ul>
            </div>
          </h4>
          <div class="box-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque error eos ea, ducimus in ad excepturi culpa id eaque maxime, dignissimos nihil iure reiciendis repellendus.</div>
        </div>
      </div>
    </div>
  </section>
</div>
